.contai{
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}
image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .title h1{
    color:white;
    margin-bottom: 20px;
 }

 .button button{
    border:none;
    padding: 10px;
    background-color: white;
    color:gray;
    cursor: pointer;
    font-weight: 600;
 }